.page-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  left: 45vw;
  z-index: 1000;
}

.font-app {
  padding-top: 60px;
}
